name: Template Sync
on:
  # cronjob trigger
  schedule:
  - cron: "0 0 1 * *"
  # manual trigger
  workflow_dispatch:
jobs:
  repo-sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.CUSTOM_GITHUB_PAT }}
          persist-credentials: false

      - name: actions-template-sync
        uses: AndreasAugustin/actions-template-sync@v2
        with:
          source_gh_token: ${{ secrets.CUSTOM_GITHUB_PAT }}
          source_repo_path: hashicorp/terraform-provider-scaffolding-framework
          upstream_branch: main
